body {
    height: 100vh;
    width: 100vw;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;
}

.sidebar {
    border: 1px solid black;
    background-color: oklch(0.63 0.14 240.35);
    grid-row: 1/3;
}

.header {
    border: 1px solid black;
    background-color: oklch(1 0 0);
}

.main {
    border: 1px solid black;
    background-color: oklch(0.93 0.01 255.67)
    ;
}
